h1 List Users


p Mixins allow you to create reusable blocks of Pug.
mixin list
    ul 
        each user in arrUser
            li= user.name

+list
+list

p Mixins are compiled to functions, and can take arguments
mixin listuser(arrUser)
  ul 
        each user in arrUser
            li= user.name

+listuser(arrUser)

p can also use while to create a loop
- var n = 0;
ul
  while n < 4
    li= n++


