<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List Users</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <% include ../layouts/title.ejs %>
        <div class="alert alert-primary " role="alert">
            List users a here!
        </div>
        <form action="/users/search" method="GET">
          <div class="form-row align-items-center">
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInput">Name</label>
              <input type="text" name="q" class="form-control mb-2" id="inlineFormInput" placeholder="Name">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-2">Search</button>
            </div>
          </div>
        </form>
        <a class="btn btn-primary mb-2" href="/users/create" role="button">Create</a>

        <ul class="list-group">
            <% arrUser.forEach(function(user){ %>
              <li class="list-group-item"><%= user.name %><a href="/users/<%=user.id %>" class="badge badge-info">Info</a></li>
            <% }); %>
        </ul>
        <% include ../layouts/footer.ejs %>
    </div>
</body>
</html>